/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/js/
/web/css/
/.idea/

!/web/uploads/media/ArticlePic/
/web/uploads/media/ArticlePic/*
!/web/uploads/media/ArticlePic/.gitkeep

!/web/uploads/media/Audio/
/web/uploads/media/Audio/*
!/web/uploads/media/Audio/.gitkeep

!/web/uploads/media/EventPic/
/web/uploads/media/EventPic/*
!/web/uploads/media/EventPic/.gitkeep

!/web/uploads/media/GalleryImages/
/web/uploads/media/GalleryImages/*
!/web/uploads/media/GalleryImages/.gitkeep

!/web/uploads/media/Images/
/web/uploads/media/Images/*
!/web/uploads/media/Images/.gitkeep

!/web/media/cache/
/web/media/cache/*
!/web/media/cache/.gitkeep
