{% extends '@Admin/admin_base_no_sidebar.html.twig' %}

{% from '@Admin/AdminLayout/macros.html.twig' import main_toolbar %}

{% set tabTitle = 'Event list' %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>MIDI Roko Operos</h2>
    </div>
    {{ main_toolbar(path('admin_events_create')) }}
    <table class="table table-striped table-hover .table-vertical-center">
        <thead>
        <th class="text-center">Foto</th>
        <th class="text-center">Data</th>
        <th class="text-left">Pavadinimas</th>
        <th class="text-center">Plakatas</th>
        <th class="text-center">Scenarijus</th>
        <th class="text-center">Dalyviai</th>
        <th class="text-center">Faktai</th>
        <th class="text-center">Veiksmai</th>
        </thead>
        {% for event in events %}
            {% include '@Admin/AdminEvents/partial/__event_table_row.html.twig' with {'event': event} %}
        {% else %}
            <tr>
                <td>Roko Operų sąrašas tuščias ;(</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
