{% extends '@Admin/admin_base_no_sidebar.html.twig' %}

{% set tabTitle = 'Roko Operų Sąrašas' %}
{% set pageTitle = 'Roko Operų Sąrašas' %}
{% set sidebar = false %}

{% block content %}
    {#<div class="col-md-12">#}
        {#<a href="{{ path('admin_events_create') }}" class="btn btn-primary btn-lg btn-block btn-raised">Sukurti naują</a>#}
    {#</div>#}

    {% include '@Admin/AdminEvents/partial/__event_table_list.html.twig' with {'events': events} %}

{% endblock %}
