{% extends '@Admin/admin_base_no_sidebar.html.twig' %}

{% from '@Admin/AdminLayout/macros.html.twig' import main_toolbar %}

{% set tabTitle = 'Event list' %}

{% block sidebar %}
{% endblock %}

{% block content %}
    {{ main_toolbar(path('admin_events_create')) }}

    <div class="placeholders">
        {% for event in events %}
            <div class="col-xs- col-sm-3 placeholder">
                {{ event_thumb(event, 'small') }}
                <h4>{{ event.title }}</h4>
            </div>
        {% else %}
            Nėra nė vienos Roko Operos :(
        {% endfor %}
    </div>
{% endblock %}
