.expandable-item-container {
	clear: both;
    background-color: black;
    color: #555;
    max-width: 640px;
}

.expandable-item-title {
    background-color: #eee;
    padding: 10px 15px;
    margin: 0px;
}

.expandable-item-content {
	color: #333;
    opacity: 0;
	padding: 6px;
}

.expandable-item-video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 75%;
}

.expandable-item-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
