.image-gallery {
	line-height: 0;

	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           0px;

	-moz-column-count:    4;
	-webkit-column-count: 4;
	column-count:         4;

	margin-left: 15px;
}

.image-gallery img {
	width: 100% !important;
	height: auto !important;
	-webkit-filter: grayscale(100%) brightness(100%);
	filter: grayscale(100%) brightness(100%);
	transition: filter 0.5s;
	cursor: pointer;
}

.image-gallery .image-gallery-img-container {
	margin-top: 15px;
	margin-right: 15px;
}

.image-gallery img:hover {
	-webkit-filter: grayscale(0%) brightness(120%);
	filter: grayscale(0%) brightness(120%);
}

@media (max-width: 1200px) {
	.image-gallery {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
}
@media (max-width: 950px) {
	.image-gallery {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
}
@media (max-width: 500px) {
	.image-gallery {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
}

.gallery .article-title {
	margin-left: 15px;
	margin-bottom: 0px;
}