@font-face {
    font-family: Open-sans-light;
    src: url('./media/OpenSans-Light.ttf');
}

@font-face {
    font-family: Oswalf-regular;
    src: url('./media/Oswald-Regular.ttf');
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Open-sans-light;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #A5A5A5;
    margin: 0 0 150px 0;
}

.article-title {
    font-family: Oswalf-regular;
    font-size: 48px;
    text-transform: uppercase;
    color: #E4E4E4;
    margin-top: 0px;
    margin-bottom: 36px;
}

.content {
    padding: 36px 144px;
    font-size: 15px;
}

// Media queries

@media screen and (max-width: 1300px) {
    .content {
        padding: 36px;
    }
}

@media screen and (max-width: 1050px) {
    .content {
        font-size: 14px;
    }
    .article-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 950px) {
    .content {
        padding: 36px 72px;
    }
}

// Mobile
@media screen and (max-width: 650px) {
    .content {
        padding: 24px;
    }
    .article-title {
        font-size: 26px;
    }
}

@media screen and (max-width: 500px) {
    .content {
        padding: 12px;
    }
}
