{% extends '@Admin/admin_base.html.twig' %}
{% from '@Admin/AdminLayout/macros.html.twig' import main_toolbar %}

{% set tabTitle = event.title ~ ' - Galerija' %}

{% block content %}
    <div class="text-center">
        <h2>MIDI Roko Operos "{{ event.title }}" Video playlista'as</h2>
    </div>
    <div class="col-md-12">
        {% include 'AdminBundle:AdminVideoPlaylists/partial:__playlistView.html.twig' with {'playlist': event.videoPlaylist} %}
    </div>
{% endblock %}
