{% block sidebar %}
    <nav>
        <div class="nav-wrapper light-blue darken-4">
            <a href="#" class="brand-logo center">{% if pageTitle is defined %}{{ pageTitle }}{% else %}MIDI Roko Operos{% endif %}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if is_granted('ROLE_SUPER_ADMIN') == true %}
                    <li><a href="#">Vartotojų valdymas</a></li>
                {% endif %}
                <li><a href="{{ path('fos_user_profile_edit') }}">{{ app.user.fullName }}</a></li>
                <li><a href="{{ path('fos_user_security_logout')}}">Atsijungti</a></li>
            </ul>
            {% if sidebar is not defined or sidebar %}
                <ul style="width:200px; margin-top:65px;" class="side-nav fixed">
                    <li><a href="#">Icon 1</a></li>
                    <li><a href="#">Icon 2</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
{% endblock %}
