{% extends '@Admin/admin_base.html.twig' %}
{% from '@Admin/AdminLayout/macros.html.twig' import main_toolbar %}

{% set tabTitle = 'Event list' %}

{% block content %}
    <div class="text-center">
        <h2>MIDI Roko Operos "{{ event.title }}" Straipsniai</h2>
    </div>
    {{ main_toolbar(path('admin_articles_create', {'eventId': event.id})) }}
{% endblock %}
