{% extends '@Admin/admin_base.html.twig' %}
{% from '@Admin/AdminLayout/macros.html.twig' import main_toolbar %}

{% set tabTitle = 'Event list' %}

{% block content %}
    <div class="text-center">
        <h2>MIDI Roko Operos "{{ event.title }}" Straipsniai</h2>
    </div>
    {{ main_toolbar(path('admin_articles_create', {'eventId': event.id})) }}

    <table class="table table-striped table-hover">
        <thead>
        <th class="text-left">Antraštė</th>
        <th class="text-left">Matomumas</th>
        <th class="text-center">Roko Opera</th>
        <th class="text-center">Sukurtas</th>
        <th class="text-center">Atnaujintas</th>
        <th class="text-right">Veiksmai</th>
        </thead>
        {% for article in articles %}
            {% include '@Admin/AdminArticles/partial/__article_table_row.html.twig' with {'article': article} %}
        {% else %}
            <tr>
                <td colspan="5" class="text-center">
                    Straipsnių nėr ;(
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
