{% extends '@Admin/admin_base.html.twig' %}

{% set tabTitle = 'Event list' %}

{% block content %}
    <div class="text-center">
        <h2>MIDI Roko Operos "{{ event.title }}" Straipsniai</h2>
    </div>
{% endblock %}
